# node modules
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# production
dist/
build/

# local env files
.env
.env.*.local

# Vite cache
.vite/

# local IDE/editor config
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS-specific
.DS_Store
Thumbs.db

# Optional: macOS/Linux system files
*.swp
*~
.cache/

# Optional: GitHub Codespaces
.devcontainer/
